
 h1 {
	font-size: 70px;
	font-family: 'Fjalla One', sans-serif;
	color: #333;
	/*text-shadow: #EEEE00 0 0 10px;
	-webkit-animation-duration: 1s;
    -webkit-animation-name: glow;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-name: glow;
    animation-direction: alternate;
    animation-iteration-count: infinite;*/
   /* -webkit-transform: rotate(-50deg);*/
    position: relative;
    top: 150px;
     background-color: rgba(245,245,245,0.8);
    /*right: 180px;*/
     padding: 10px;
}

 /* @-webkit-keyframes glow {
        from { text-shadow: 0 0 0px red; }
        to { text-shadow: 0 0 20px red; }
    }*/

 h2 {
	font-size: 50px;
	 background-color: rgba(245,245,245,0.8);
	 padding: 10px;
	font-family: 'Barlow Semi Condensed', sans-serif;
	color: #333;
	position: relative;
	top: 120px;
	
	/*text-shadow: #EEEE00 0 0 10px;*/
	/*-webkit-animation-duration: 1s;
    -webkit-animation-name: glow;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-name: glow;
    animation-direction: alternate;
    animation-iteration-count: infinite;
*/
}
/* @-webkit-keyframes glow {
        from { text-shadow: 0 0 0px red; }
        to { text-shadow: 0 0 20px red; }
    }*/







body {
	width: 720px;
	height: 1280px;
	background-image: url("../img/self1.jpg");
	background-repeat: no-repeat;

}
.container {
	width: 670px;
	height: 1230px;
	margin-left: 20%;
    margin-top: 20%;
	/*background: whitesmoke;*/
}

.container img {
	width: 670px;
	height: 1000px;
	top: 300px;
    position: relative;
    left: 60px;
}

.container a {
font-family: 'Fjalla One', sans-serif;
color: white;
background: #333;
text-decoration: none;
font-size: 50px;
padding: 10px 20px;
position: relative;
bottom: 40px;
left: 60px;
}

.container a:hover {

color: #333;
background: whitesmoke;

}

article {
	left: 100px;
    bottom: 1200px;
    position: relative;
   
}
/*end*/

